<div class="about-container container">
  <div class="title">
    <h2>ABOUT</h2>
  </div>
  <div class="about-content">
    <img class="about-image" src="../../../assets/canva-photo-editor.png" />
    <div class="border"></div>
    <div class="about-text">
      <h2>About Me</h2>
      <p>
        Technically skilled and Experienced Full Stack Engineer with hands-on
        experience designing, developing, and implementing applications and
        solutions using a range of technologies and programming languages,
        Skilled in Spring Boot, Java, Angular 2+, Continuous Integration and
        Continuous Delivery (CI/CD).
      </p>
      <p>
        As a web developer, I enjoy using my obsessive attention to detail, my
        unequivocal love for making things, and my mission-driven work ethic to
        literally change the world. That's why I’m excited to make a big impact
        at a high growth company.
      </p>
    </div>
  </div>
</div>
