.banner {
  width: 100%;
  height:450px;
  background-color: #fce58a;
}
.men-image {
  width: 75%;
  padding-left: 13%;
}
.header-banner {
  margin-top: -2px;
}
.banner-content {
  display: flex;
  padding-top: 10%;
}
.text-area {
  flex: 0 0 50%;
    padding-left: 10%;
    max-width: 50%;
}
