<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />

<nav>
  <div class="nav-center" id="navbar">
    <!-- nav header -->
    <div class="nav-header">
      <h2 class="header-logo">Manish</h2>
      <button class="nav-toggle">
        <i class="fas fa-bars"></i>
      </button>
    </div>
    <!-- links -->
    <ul class="links">
      <li *ngFor="let header of navItems">
        <a href="index.html">{{header.title}}</a>
      </li>
    </ul>
    <!-- social media -->
    <ul class="social-icons">
      <li *ngFor="let icon of socialMediaItems">
        <a href="{{icon.link}}">
          <i class="{{icon.iconClass}}"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
