<div >
<svg class="footer-banner" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="1440" height="560" preserveAspectRatio="none" viewBox="0 0 1440 560">
  <g mask="url(&quot;#SvgjsMask3149&quot;)" fill="none">
      <path d="M 0,367 C 144,344.6 432,264.8 720,255 C 1008,245.2 1296,305.4 1440,318L1440 560L0 560z" fill="rgba(18, 18, 18, 1)"></path>
  </g>
  <defs>
      <mask id="SvgjsMask3149">
          <rect width="1440" height="560" fill="#ffffff"></rect>
      </mask>
  </defs>
</svg>
</div>
<div class="banner">
  <div class="banner-content container">
  <div class=""><img class="contact-us" src="../../../assets/undraw_contact_us_15o2 1.svg"></div>
<form class="form-text-area">
<div class="form-group">
  <label for="exampleInputPassword1">Name</label>
  <input type="text" class="form-control bg-transparent" id="exampleInputPassword1" placeholder="Name" required>
</div>
<div class="form-group">
  <label for="exampleFormControlInput1">Email address</label>
  <input type="email" class="form-control bg-transparent" id="exampleFormControlInput1" placeholder="name@example.com">
</div>

<div class="form-group">
  <label for="exampleFormControlTextarea1">Example textarea</label>
  <textarea class="form-control bg-transparent" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
</form>
</div>
</div>



