.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
  position: fixed;
  // z-index: 1;
}

.progressBar {
  height: 8px;
  background: #f6c90e;
  width: 0%;
}
.header-container {
  margin-bottom: 66px;
}
.content {
  padding: 9px 0;
}
